@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root {
  --clr-prm: #7bafaa;
  --clr-prm-thm: #ed8dcd;
  --clr-prm-thm-1: #f5ea77;
  --clr-prm-thm-2: #ffe7cd;

  --clr-prm-lgt-1: #ecf2e7;
  --clr-prm-lgt-2: #e4efe1;
  --clr-prm-dr-1: #65a3a2;

  --clr-logo: #c4a173;
}
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
*,
::after,
::before {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: linear-gradient(
    to left,
    var(--clr-prm-lgt-1),
    var(--clr-prm-lgt-2)
  );
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

// BUTTONS
.btn {
  position: relative;
  z-index: 1000;
  padding: 1rem 2rem;
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 0;
  border: 1px solid var(--clr-prm-dr-1);
  color: var(--clr-prm-dr-1);
  margin-bottom: 1rem;
  width: 90%;
  background-color: transparent;
  cursor: pointer;
  &:hover {
    background-color: var(--clr-prm-dr-1);
    color: #fff;
    border: 1px solid var(--clr-prm-dr-1);
  }
}
.sllr-btn {
  border: 2px solid var(--clr-prm-thm-1);
  color: var(--clr-prm-thm-1);
  font-weight: bold;

  &:hover {
    border: 2px solid var(--clr-prm-thm-1);
    box-shadow: 0 0 15px var(--clr-prm-thm-1);
    color: lighten(#f5ea77, 20%);
    background-color: transparent;
  }
}
.sale-btn {
  width: 80%;
  position: relative;
  font-weight: 700;
  background-color: transparent;
  border: 1px solid darken(#ffe7cd, 20%);
  z-index: 1500;
  color: darken(#ffe7cd, 30%);
  &:hover {
    border: 1px solid lighten(#ffe7cd, 20%);
    box-shadow: 0 0 15px lighten(#ffe7cd, 20%);
    background-color: darken(#ffe7cd, 20%);
    color: lighten(#ffe7cd, 30%);
  }
}

// RESPONSIVENESS
@mixin respond($breakpoint) {
  * {
    transition: all 0.7s;
  }
  @if $breakpoint == sm {
    @media only screen and (min-width: 476px) {
      @content;
    }
  }
  @if $breakpoint == smx {
    @media screen and (max-width: 760px) {
      @content;
    }
  }
  @if $breakpoint == md {
    @media only screen and (min-width: 900px) {
      @content;
    }
  }
  @if $breakpoint == lg {
    @media only screen and (min-width: 1100px) {
      @content;
    }
  }
}

// ANIMATIONS
@keyframes moveInRight50 {
  0% {
    opacity: 0;
    transform: translateX(50rem);
    letter-spacing: -2rem;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight20 {
  0% {
    opacity: 0;
    transform: translateX(20rem);
    letter-spacing: -2rem;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveBtn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
