// HEADER //
.hro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 75vh;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  @include respond(sm) {
    background-image: linear-gradient(rgba(#cae1d7, 0.9), rgba(#cae1d7, 0.9));
  }
  @include respond(md) {
    background-image: linear-gradient(rgba(#65a3a2, 0.5), rgba(#65a3a2, 0.5)),
      url('../../assets/jpg/hero.jpg');
  }

  &--hdng {
    text-transform: uppercase;
    letter-spacing: 0.8rem;
    font-weight: 200;
    @include respond(sm) {
      font-size: 4rem;
      color: var(--clr-prm-dr-1);
      animation: moveInRight20 2s ease-in-out;
    }
    @include respond(md) {
      font-size: 7rem;
      color: #fff;
      animation: moveInRight20 2s ease-in-out;
    }
    @include respond(lg) {
      font-size: 9rem;
      animation: moveInRight50 2s ease-in-out;
    }
  }
  &--btn {
    padding: 1rem 2rem;
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: inherit;
    text-transform: uppercase;
    margin-top: 2rem;
    cursor: pointer;
    &:hover {
      background-color: lighten(#65a3a2, 20%);
    }
    animation: moveBtn 0.5s ease 2s;
    animation-fill-mode: backwards;
  }
}
.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  margin-top: 2rem;
  width: 100%;
  animation: moveBtn 0.5s ease-out 3s;
  animation-fill-mode: backwards;
  &__frm {
    display: flex;
    justify-content: center;
    width: 70%;
    position: relative;
    &--ipt {
      width: 95%;
      font-family: inherit;
      font-size: 1.5rem;
      padding: 1.5rem 2rem;
      border: none;
      margin-right: -3rem;
      margin-left: -3rem;

      &:focus {
        width: 100%;
        outline: none;
        padding-top: 1.25rem;
      }
    }
    &--icn {
      font-size: 2.5rem;
      position: absolute;
      color: var(--clr-prm-dr-1);
      top: 1rem;
      right: 3.5rem;
      @include respond(sm) {
        right: 2rem;
      }
      @include respond(md) {
        right: 2.5rem;
      }
      @include respond(lg) {
        right: 3.5rem;
      }
    }
  }
}

//  NAVBAR //
.nav {
  &__lgo {
    display: flex;
    flex: 0 0 10%;
    font-size: 2.5rem;
    position: relative;
    align-items: center;

    color: var(--clr-logo);

    &__lts {
      justify-content: flex-start;
    }
    flex: 1;
    height: 10rem;
    @include respond(smx) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .lgo-lt-1 {
      position: absolute;
      top: 2.7rem;
      left: 5.3rem;
    }
    .lgo-lt-2 {
      position: absolute;
      top: 3.5rem;
      left: 6.3rem;
    }
    .lgo-lt-3 {
      position: absolute;
      top: 4.3rem;
      left: 7.2rem;
    }
  }
  &__mnu {
    flex: 0 0 60%;

    .lst {
      display: flex;
      justify-content: space-around;
      align-items: center;
      &--itm {
        height: 10rem;
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: center;
        font-size: 1.5rem;
        cursor: pointer;
        a {
          color: #000;
          text-decoration: none;
        }
        &:hover {
          background-color: var(--clr-prm-lgt-2);
        }
        &--arr {
          visibility: hidden;
        }
      }
    }
    @include respond(smx) {
      position: absolute;
      z-index: 1000;
      right: 0;
      left: -100%;
      width: 100%;
      top: 10rem;
      .lst {
        background-color: #fff;
        transition: all 0.4s ease;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        &--itm {
          padding: 1rem 2rem 1rem 1rem;
          width: 100%;
          justify-content: flex-start;
          flex: 1;

          &--arr {
            width: 2rem;
            font-size: 2rem;
            font-weight: 100;
            padding-top: 0.3rem;
            display: flex;
            align-items: center;
            visibility: visible;
          }
        }
      }
    }
  }
  &__usr {
    display: flex;
    justify-content: space-around;
    @include respond(sm) {
      flex: 0 0 20%;
    }
    @include respond(lg) {
      flex: 0 0 10%;
    }
    &__icnBx {
      display: flex;
      position: relative;
      flex-grow: 1;
    }
    &--ntf {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--clr-prm-thm-1);
      color: #000;
      font-weight: bold;
      font-size: 1.5rem;
      width: 3rem;
      height: 3rem;
      border-radius: 100px;
      top: 5rem;
      right: 1rem;
    }
    &--icn {
      height: 10rem;
      display: flex;
      align-items: center;
      flex-grow: 1;
      justify-content: center;
      font-size: 4rem;
      font-weight: 100;
      transition: all 0.3s ease;
      color: var(--clr-logo);
      &:hover {
        background-color: var(--clr-prm-lgt-1);
      }
    }
  }
}
// dropdown list in navbar
.lstdd {
  position: absolute;
  top: 10rem;
  width: 100vw;
  right: 0;
  list-style-type: none;
  text-align: start;
  background-color: #fff;
  z-index: 1500;

  &--itm {
    font-size: 1.5rem;
    height: 4rem;
    padding: 1rem 2rem 1rem 4rem;
    width: 100vw;
    &:hover {
      background-color: var(--clr-prm-lgt-1);
    }
    a {
      color: #000;
      text-decoration: none;
    }
  }
}
@include respond(smx) {
  .lstdd {
    width: 50%;
    top: 0;
    left: 50%;
    background-color: red;
    &--itm {
      padding: 1rem 2rem 1rem 1rem;
      transition: all 0.1s ease;
      &:hover {
        border-left: 5px solid var(--clr-prm-dr-1);
      }
    }
  }
}
@include respond(smx) {
  .navIcn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 0 0 5%;
    flex: 1;
    padding-left: 2rem;
    height: 10rem;
    cursor: pointer;
    transition: all 0.3s ease;
    &--btn {
      position: relative;
      display: flex;

      &,
      &::before,
      &::after {
        width: 2rem;
        height: 2px;
        background-color: var(--clr-logo);
        display: inline-block;
        transition: all 0.3s ease;
      }
      &::before,
      &::after {
        content: '';
        position: absolute;
        left: 0;
      }
      &::before {
        top: -0.8rem;
      }
      &::after {
        top: 0.8rem;
      }
    }
  }
  .clicked {
    span {
      background-color: transparent;
    }
    ::before {
      top: 0;
      transform: rotate(45deg);
    }
    ::after {
      top: 0;
      transform: rotate(-45deg);
    }
  }
}
.open {
  top: 10rem;
  left: 0;
}

// GIFT SECTION //
.gft {
  flex-direction: column;
  &--sld {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  &--dts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 1rem 0;
    &--dt {
      padding: 1rem 0.25rem;
      font-size: 2rem;
      cursor: pointer;
      color: darken(#65a3a2, 20%);
      &--active {
        padding: 1rem 0.25rem;
        font-size: 2rem;
        cursor: pointer;
        color: var(--clr-prm-dr-1);
      }
    }
  }

  &--swpr {
    display: block;
    width: 100%;
    &--sld {
      display: flex;
      flex-direction: row;
      @include respond(sm) {
        width: 70%;
      }
      @include respond(md) {
        width: 70%;
      }
      @include respond(lg) {
        width: 100%;
      }
    }
  }
}

.arrow {
  cursor: pointer;
}
.sm-crd {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #fff;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 50rem;
  margin: 0 0.15rem;
  transition: all 0.3s ease;
  @include respond(sm) {
    width: 70%;
  }
  @include respond(md) {
    width: 100%;
  }
  @include respond(lg) {
    width: 100%;
  }
  &--btn {
    display: flex;
    align-items: center;
    justify-content: center;
    &--d {
      cursor: pointer;
      position: absolute;
      z-index: 1000;
      top: 40%;
      border: none;
      padding: 1rem 2rem;
      background-color: rgba(#ed8dcd, 0.8);
      border-radius: 4px;
      font-family: inherit;
      font-size: 1.5rem;
      color: #fff;
      text-transform: capitalize;
      letter-spacing: 2px;
      transition: all 0.1s;
      &:hover {
        z-index: 1500;
        background-color: var(--clr-prm-thm);
        transform: scale(1.1);
      }
    }
  }
  &--img {
    display: flex;
    justify-content: center;
    position: relative;
    height: 70%;
    width: 100%;
    z-index: 1000;
    transition: all 0.3s ease-in-out;

    &::before {
      content: '';
      position: absolute;
      background-color: rgba(#fff, 0.5);
      width: 100%;
      height: 100%;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      opacity: 0;
    }
    &:hover::before {
      opacity: 1;
    }

    &:hover {
      z-index: 500;
    }
  }
  &--dtls {
    padding-top: 2rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    &--h4 {
      font-size: 1.5rem;
      color: var(--clr-prm-thm);
      text-transform: capitalize;
      padding-bottom: 0.5rem;
      font-weight: bold;
    }
    &--p {
      font-size: 1.5rem;
      padding-bottom: 0.5rem;
      width: 40rem;
    }
  }
}

// BEST SELLER SECTION

.bst-sllr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 10rem 0;
  width: 100%;
  @include respond(sm) {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
  }
  @include respond(md) {
    width: 100%;
    flex-direction: row;
  }
  @include respond(lg) {
    width: 100%;
    flex-direction: row;
  }

  &--cnt {
    display: flex;
    flex: 0 0 40%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1500;

    &--hdngs {
      padding-right: 5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem;
      .bst-sllr-h2 {
        color: var(--clr-prm-thm-1);
      }
    }
  }
  &--clrcb {
    background-color: rgba(#7bafaa, 0.3);
    border: 1px solid var(--clr-prm-thm-1);
    position: absolute;
    z-index: 1000;
    width: 70rem;
    height: 35rem;
    @include respond(sm) {
      display: none;
    }
    @include respond(md) {
      display: block;
    }
  }
  &--img {
    position: relative;
    display: block;
    z-index: 1500;
    margin-top: 1rem;
    margin-bottom: 1rem;
    img {
      @include respond(sm) {
        width: 100%;
      }
    }

    &::before {
      content: '';
      position: absolute;
      display: block;
      background-color: rgba(#f5ea77, 0.2);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
}

// SALE SECTION

.sale {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 3rem;

  &--hdngs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      font-size: 2.5rem;
      border-bottom: 2px solid darken(#ffe7cd, 20%);
      color: darken(#ffe7cd, 30%);
      margin-bottom: 1rem;
    }
    h3 {
      text-align: center;
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }
  &--img {
    margin-bottom: 5rem;

    width: 30rem;
    height: 30rem;
    img {
      width: 100%;
      height: 100%;
      border-radius: 100%;
    }
  }
  &--cnt {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30rem;
  }
  &--btns {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30rem;
  }
  &--lnk {
    text-decoration: none;
    color: inherit;
  }
}

// FOOTER SECTION

.ftr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 7rem 5rem;
  @include respond(sm) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  @include respond(md) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &--lgo {
    margin-right: auto;

    border: 1px solid var(--clr-logo);
    position: relative;
    color: var(--clr-logo);
    font-size: 2.5rem;
    @include respond(sm) {
      margin: auto;
    }
    &--lts {
      justify-content: flex-start;
      padding: 5rem;
      &:hover {
        text-shadow: 0 0 15px rgba(#c4a173, 0.9);
      }
      .lgo-lt-1 {
        position: absolute;
        top: 2.7rem;
        left: 3.3rem;
      }
      .lgo-lt-2 {
        position: absolute;
        top: 3.5rem;
        left: 4.3rem;
      }
      .lgo-lt-3 {
        position: absolute;
        top: 4.3rem;
        left: 5.2rem;
      }
    }
    &:hover {
      box-shadow: 0 0 15px var(--clr-logo);
    }
  }
  &--cnt {
    flex: 0 0 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    @include respond(sm) {
      flex: 0 0 90%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    @include respond(md) {
      flex: 0 0 90%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    .cl {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;
      .ftr-lnks {
        display: none;
        flex-direction: column;
        @include respond(sm) {
          display: none;
        }
        @include respond(md) {
          display: flex;
        }
      }
      .lnks-open {
        display: flex;
      }
      a {
        color: var(--clr-prm-lgt-2);
        text-decoration: none;
        font-size: 1.5rem;
        margin-top: 0;
        &:not(:last-child) {
          margin-bottom: 1rem;
        }
        &:hover {
          text-shadow: 0 0 10px lighten(#e4efe1, 20%);
        }
      }
    }
    .ftr-hdng2 {
      display: flex;
      color: var(--clr-prm-lgt-2);
      text-transform: capitalize;
      align-items: center;
      justify-content: space-between;
      font-size: 2rem;
      margin-bottom: 1rem;
      border-bottom: 1px solid var(--clr-prm-lgt-2);
      @include respond(sm) {
        cursor: pointer;
      }
      @include respond(md) {
        cursor: auto;
      }
      &--arr {
        display: block;
        @include respond(sm) {
          display: block;
        }
        @include respond(md) {
          display: none;
        }
      }
    }

    &--cl3 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      .icns {
        margin-top: 3rem;
        display: flex;
        justify-content: space-between;
        &--lnk {
          &--icn {
            font-size: 4rem;
          }
        }
      }
    }
    .copyright {
      font-size: 1.5rem;
      color: var(--clr-prm-dr-1);
      border-bottom: 1px solid var(--clr-prm-dr-1);
    }
  }
}
.mdlCnt {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3000;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(#000, 0.3);
  &--mdl {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 4px;
    width: 50vw;
    &--cls {
      position: absolute;
      top: 0;
      right: 0.25rem;
      cursor: pointer;
      padding: 1rem;
      border: none;
      background-color: transparent;
      font-size: 1.5rem;
    }
    &--h2 {
      font-size: 2rem;
      margin-bottom: 2rem;
      margin-top: 1rem;
    }
    &--img {
      width: 100%;
      padding-bottom: 1rem;
      border-bottom: 1px solid rgba(#777, 0.3);
    }
    &--prc {
      display: flex;
      justify-content: space-around;
      width: 100%;

      margin-top: 2rem;
      margin-bottom: 1rem;
      &--prc {
        font-size: 1.5rem;
      }
      &--prc-crossed {
        text-decoration: line-through;
        color: #777;
        font-size: 1.5rem;
      }
      &--dscPrc {
        font-size: 1.5rem;
      }
    }
    &--btns {
      display: flex;
      flex-direction: column;

      &--btn {
        padding: 1rem 2rem;
        margin-bottom: 1rem;
        background-color: transparent;
        border: 1px solid var(--clr-prm);
        color: var(--clr-prm);
        text-transform: uppercase;
        font-size: 1.5rem;
        font-family: inherit;
        font-weight: bold;
        cursor: pointer;
        letter-spacing: 0.5rem;
        &:hover {
          background-color: var(--clr-prm);
          color: #fff;
        }
      }
      &--lbtn {
        margin-bottom: 1rem;
        background-color: transparent;
        border: 1px solid var(--clr-prm);

        text-transform: uppercase;
        font-size: 1.5rem;
        font-family: inherit;
        font-weight: bold;
        cursor: pointer;
        letter-spacing: 0.5rem;
        &:hover {
          background-color: var(--clr-prm);
          color: #fff;
        }
        &--lnk {
          padding: 1rem;
          width: 100%;
          display: block;
          color: var(--clr-prm);
          cursor: pointer;
          text-decoration: none;
          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
}
