// HERO
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

// NAVBAR
.nav {
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: #fff;
}
.hdng {
  display: block;
  background-color: #fff;
  width: 100%;
  border-bottom: 1px solid var(--clr-prm);
}
.sctn-prds {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sld {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  margin: 1rem auto;
}
