// PRODUCT LIST PAGE
.prs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: lighten(#f5ea77, 15%);
  justify-content: space-around;
  min-height: 100vh;
  @include respond(lg) {
    justify-content: center;
  }
}
.pr {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 2rem 0.25rem;
  background-color: #fff;
  width: 70%;
  @include respond(sm) {
    flex: 0 0 70%;
  }
  @include respond(md) {
    flex: 0 0 30%;
  }
  @include respond(lg) {
    flex: 0 0 20%;
  }

  &--dtls {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem 2rem;
    width: 80%;
    &--h3 {
      font-size: 2rem;
    }
    &--p {
      width: 70%;
      text-align: center;
      margin: 1rem 2rem;
      font-size: 1.5rem;
    }
  }
  &--qckBtn {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
    position: absolute;
    z-index: 2500;
    border: none;
    padding: 1rem 2rem;
    background-color: rgba(#777, 0.5);
    top: 20%;
    border-radius: 4px;
    font-family: inherit;
    font-size: 1.5rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.1s;
    &:hover {
      opacity: 1;
      z-index: 3000;
      background-color: rgba(#777, 0.8);
    }
    &:active {
      transform: scale(0.98);
    }
  }
  &--imgCn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    position: relative;
    z-index: 2600;
    &:hover {
      z-index: 0;
    }
    &::before {
      content: '';
      position: absolute;
      cursor: pointer;
      background-color: rgba(#fff, 0.5);
      width: 100%;
      height: 100%;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      opacity: 0;
    }
    &:hover::before {
      z-index: 3000;
      opacity: 1;
    }
    &--lnk {
      text-align: center;
    }
    &--img {
      width: 80%;
      cursor: pointer;
      position: relative;
      z-index: 2600;
      &:hover {
        z-index: 0;
      }
    }
  }
  &--btn {
    width: 70%;
    padding: 2rem;
    background-color: lighten(#f5ea77, 15%);
    border: none;
    border-radius: 5px;
    color: var(--clr-prm);
    font-weight: bold;
    &:hover {
      border: none;
      background-color: var(--clr-prm-thm-1);
      color: var(--clr-prm);
    }
  }
}
// DETAIL PAGE
.dtl {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 60vh;
  background-image: linear-gradient(
    to right,
    rgba(lighten(#7bafaa, 20%), 0.5),
    rgba(#fff, 0.9) 50%
  );
  @include respond(sm) {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(
      to bottom,
      rgba(lighten(#7bafaa, 20%), 0.5),
      rgba(#fff, 0.9) 50%
    );
    height: 100%;
  }
  @include respond(md) {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(
      to right,
      rgba(lighten(#7bafaa, 20%), 0.5),
      rgba(#fff, 0.9) 50%
    );
  }
  &__img {
    display: block;
    position: relative;
    justify-content: center;
    flex: 0 0 50%;
    height: 100%;
  }
  &__cnt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: auto;
    margin-top: 2rem;
    flex: 0 0 50%;
    &--h2 {
      font-size: 3rem;
      text-decoration: underline;
      text-transform: capitalize;
      padding-bottom: 1.5rem;
    }
    &--h3 {
      font-size: 1.5rem;
      text-transform: capitalize;
      padding-bottom: 1.5rem;
      &--sp {
        font-size: 2rem;
      }
    }
    &--prc {
      text-decoration: none;
      font-size: 1.5rem;
    }
    &--prc-crossed {
      text-decoration: line-through;
      color: #777;
      font-size: 1.5rem;
    }
    &--prc-show {
      margin-left: 2rem;
      font-size: 1.5rem;
      visibility: visible;
    }
    &--prc-notShow {
      margin-left: 2rem;
      font-size: 1.5rem;
      visibility: hidden;
    }
    &--qInfo,
    &--info {
      width: 50rem;
      font-size: 1.5rem;
    }
    &--rm {
      text-decoration: underline;
      cursor: pointer;
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }
    &--btns {
      display: flex;
      flex-direction: column;
      &--qts {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 2rem;

        border: 1px solid lighten(#777, 30%);
        margin-bottom: 2rem;
        &--btn {
          cursor: pointer;
          flex: 1;
          justify-content: center;
          align-items: center;
          display: flex;
          padding: 0.5rem 2rem;
          font-size: 3rem;
          &:hover {
            background-color: lighten(#777, 40%);
          }
        }
        &--n {
          display: flex;
          flex: 1;
          justify-content: center;
          align-items: center;
          display: flex;
          padding: 0.5rem 2rem;
        }
      }
      &--add {
        width: 100%;
        font-weight: bold;
        padding: 1rem 2rem;
        font-size: 1.5rem;
      }
    }
  }
}
// BAG PAGE
.bg {
  &__cnt {
    padding: 2rem 4rem;
  }
  &--ttl {
    display: flex;
    flex-direction: column;
    @include respond(sm) {
      justify-content: center;
      align-items: center;
    }
    @include respond(md) {
      justify-content: flex-start;
      align-items: flex-start;
    }
    &--pg {
      font-size: 4rem;
      padding-bottom: 2rem;
      text-transform: capitalize;
      color: #777;
      letter-spacing: 0.5rem;
      @include respond(sm) {
        text-transform: uppercase;
      }
      @include respond(md) {
        text-transform: capitalize;
      }
    }
    &--ttls {
      border-bottom: 1px solid lighten(#777, 20%);
      flex-direction: row;
      justify-content: space-between;
      @include respond(sm) {
        display: none;
      }
      @include respond(md) {
        display: flex;
        width: 100%;
      }
      &--h3 {
        text-transform: capitalize;
        padding: 1rem 0;
        font-size: 1.5rem;
        flex: 0 0 16.5%;
        display: flex;
        justify-content: center;
        &--itm {
          flex: 0 0 50%;
          text-transform: capitalize;
          padding: 1rem 0;
          font-size: 1.5rem;
        }
      }
    }
  }
  &--itm {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    border-bottom: 1px solid lighten(#777, 20%);
    @include respond(sm) {
      flex-direction: column;
      align-items: center;
    }
    @include respond(md) {
      flex-direction: row;
    }
    &--btnUp {
      align-items: center;
      justify-content: center;
      &--clsBtnUp {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        width: 3rem;
        height: 3rem;
        font-size: 1.5rem;
        border-radius: 100%;
        border: none;
        background-color: lighten(#999, 20%);
        color: #444;
        cursor: pointer;
      }
      @include respond(sm) {
        display: flex;
        margin-left: auto;
        margin-bottom: 1rem;
      }
      @include respond(md) {
        display: none;
      }
    }
    &--imgT {
      display: flex;
      flex-direction: row;
      @include respond(sm) {
        flex-direction: column;
        align-items: center;
        flex: 0 0 70%;
      }
      @include respond(md) {
        flex-direction: row;
        flex: 0 0 50%;
      }
      &--img {
        width: 10rem;
        height: 10rem;
        @include respond(sm) {
          width: 30rem;
          height: 30rem;
        }
        @include respond(md) {
          width: 10rem;
          height: 10rem;
        }
        img {
          width: 10rem;
          height: 10rem;
          @include respond(sm) {
            width: 30rem;
            height: 30rem;
          }
          @include respond(md) {
            width: 10rem;
            height: 10rem;
          }
        }
      }
      &--info {
        display: flex;
        flex-direction: column;
        @include respond(sm) {
          margin-right: auto;
          padding-left: 0;
          margin-top: 1rem;
        }
        @include respond(md) {
          padding-left: 2rem;
          margin-top: 0rem;
        }
        &--t {
          text-transform: uppercase;
          font-size: 2rem;
          padding-bottom: 2rem;
        }
        &--c {
          letter-spacing: 0.15rem;
          font-weight: 200;
          font-size: 1.5rem;
        }
        &--p {
          padding-top: 1rem;
          font-size: 1.5rem;
        }
      }
    }
    &--prc {
      flex: 0 0 16.5%;
      display: flex;
      font-size: 1.5rem;
      justify-content: center;
      @include respond(sm) {
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-right: auto;
      }
      @include respond(md) {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    &--qnt {
      display: flex;
      flex: 0 0 16.5%;
      flex-direction: row;
      justify-content: center;
      font-size: 2rem;
      border: 1px solid lighten(#777, 30%);
      margin-bottom: 2rem;
      height: 5rem;
      width: 100%;
      &--btn {
        cursor: pointer;
        flex: 1;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: transparent;
        display: flex;
        padding: 0.5rem 1.5rem;
        font-size: 2rem;
        &:hover {
          background-color: lighten(#777, 40%);
        }
      }
      &--n {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        display: flex;
        padding: 0.5rem 1.5rem;
      }
    }
    &--tot {
      display: flex;
      flex: 0 0 16.5%;
      justify-content: center;
      font-size: 1.5rem;
      font-weight: bold;
      @include respond(sm) {
        margin-right: auto;
        font-size: 2.5rem;
      }
      @include respond(md) {
        font-size: 1.5rem;
      }
    }

    &--btn {
      align-items: center;
      justify-content: center;
      &--clsBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        width: 3rem;
        height: 3rem;
        font-size: 1.5rem;
        border-radius: 100%;
        border: none;
        background-color: lighten(#999, 20%);
        color: #444;
        cursor: pointer;
        @include respond(sm) {
          display: none;
        }
        @include respond(md) {
          display: flex;
        }
      }
    }
  }
  &--subInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &--sbs {
      width: 40%;
      margin-left: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 2rem 0;
      border-bottom: 1px solid lighten(#777, 20%);
      font-size: 1.2rem;
      @include respond(sm) {
        width: 100%;
      }
      @include respond(md) {
        width: 40%;
      }
    }
    &--ttls {
      text-transform: uppercase;
      color: lighten(#777, 5%);
      letter-spacing: 0.25rem;
    }
    &--prcs {
      font-size: 1.5rem;
      @include respond(sm) {
        color: #444;
      }
      @include respond(md) {
        color: #000;
      }
      &--t {
        font-size: 2rem;
      }
    }
  }
  &--btns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: auto;

    @include respond(sm) {
      flex-direction: column;
      width: 100%;
    }
    @include respond(md) {
      flex-direction: column;
      width: 40%;
    }
    &--chLnk {
      text-decoration: none;
    }
    &--chBtn {
      display: flex;
      justify-content: center;
      text-align: center;
      margin-top: 3rem;
      width: 100%;

      padding: 1rem 2.5rem;
      font-size: 1.5rem;
      font-family: inherit;
      background-color: lighten(#000, 20%);
      color: #fff;
      border: none;
      text-transform: uppercase;
      letter-spacing: 0.5rem;
      cursor: pointer;
      &:hover {
        background-color: #000;
      }
      &:active {
        transform: scale(0.9);
      }
    }
  }
}
.empBg {
  font-size: 2.5rem;
  color: #777;
  text-transform: capitalize;
  margin: 3rem 0;
}

.sch {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
}
