// PRODUCT LIST PAGE
.prs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: lighten(#f5ea77, 15%);
  justify-content: space-around;
  min-height: 100vh;
  @include respond(lg) {
    justify-content: center;
  }
}
.pr {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0.25rem;
  background-color: #fff;
  width: 70%;
  @include respond(sm) {
    flex: 0 0 70%;
  }
  @include respond(md) {
    flex: 0 0 30%;
  }
  @include respond(lg) {
    flex: 0 0 20%;
  }
  &--dtls {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 1rem 2rem;
    width: 80%;
    &--h3 {
      font-size: 2rem;
    }
    &--p {
      width: 70%;
      text-align: center;
      margin: 1rem 2rem;
      font-size: 1.5rem;
    }
  }
  &--imgCn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    &--lk {
      text-align: center;
    }
    &--img {
      width: 80%;
      cursor: pointer;
      position: relative;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  &--btn {
    width: 70%;
    padding: 2rem;
    background-color: lighten(#f5ea77, 15%);
    border: none;
    border-radius: 5px;
    color: var(--clr-prm);
    font-weight: bold;
    &:hover {
      border: none;
      background-color: var(--clr-prm-thm-1);
      color: var(--clr-prm);
    }
  }
}
.dtl {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 60vh;
  background-image: linear-gradient(
    to right,
    rgba(lighten(#7bafaa, 20%), 0.5),
    rgba(#fff, 0.9) 50%
  );
  @include respond(sm) {
    display: flex;
    flex-direction: column;
  }
  @include respond(md) {
    display: flex;
    flex-direction: row;
  }
  &__img {
    height: 100%;
  }
  &__cnt {
    display: flex;
    flex-direction: column;
    &--prc {
      text-decoration: none;
    }
    &--prc-crossed {
      text-decoration: line-through;
      color: #777;
      font-size: 1.5rem;
    }
    &--prc-show {
      margin-left: 2rem;
      font-size: 1.5rem;
    }
  }
}
