@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
:root {
  --clr-prm: #7bafaa;
  --clr-prm-thm: #ed8dcd;
  --clr-prm-thm-1: #f5ea77;
  --clr-prm-thm-2: #ffe7cd;
  --clr-prm-lgt-1: #ecf2e7;
  --clr-prm-lgt-2: #e4efe1;
  --clr-prm-dr-1: #65a3a2;
  --clr-logo: #c4a173;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

*,
::after,
::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: linear-gradient(to left, var(--clr-prm-lgt-1), var(--clr-prm-lgt-2));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.btn {
  position: relative;
  z-index: 1000;
  padding: 1rem 2rem;
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 0;
  border: 1px solid var(--clr-prm-dr-1);
  color: var(--clr-prm-dr-1);
  margin-bottom: 1rem;
  width: 90%;
  background-color: transparent;
  cursor: pointer;
}
.btn:hover {
  background-color: var(--clr-prm-dr-1);
  color: #fff;
  border: 1px solid var(--clr-prm-dr-1);
}

.sllr-btn {
  border: 2px solid var(--clr-prm-thm-1);
  color: var(--clr-prm-thm-1);
  font-weight: bold;
}
.sllr-btn:hover {
  border: 2px solid var(--clr-prm-thm-1);
  box-shadow: 0 0 15px var(--clr-prm-thm-1);
  color: #fcf9d6;
  background-color: transparent;
}

.sale-btn {
  width: 80%;
  position: relative;
  font-weight: 700;
  background-color: transparent;
  border: 1px solid #ffb667;
  z-index: 1500;
  color: #ff9e34;
}
.sale-btn:hover {
  border: 1px solid white;
  box-shadow: 0 0 15px white;
  background-color: #ffb667;
  color: white;
}

.active {
  color: var(--clr-prm-dr-1);
}

@keyframes moveInRight50 {
  0% {
    opacity: 0;
    transform: translateX(50rem);
    letter-spacing: -2rem;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight20 {
  0% {
    opacity: 0;
    transform: translateX(20rem);
    letter-spacing: -2rem;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveBtn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.hro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 75vh;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
}
.hro * {
  transition: all 0.7s;
}
@media only screen and (min-width: 476px) {
  .hro {
    background-image: linear-gradient(rgba(202, 225, 215, 0.9), rgba(202, 225, 215, 0.9));
  }
}
.hro * {
  transition: all 0.7s;
}
@media only screen and (min-width: 900px) {
  .hro {
    background-image: linear-gradient(rgba(101, 163, 162, 0.5), rgba(101, 163, 162, 0.5)), url("../../assets/jpg/hero.jpg");
  }
}
.hro--hdng {
  text-transform: uppercase;
  letter-spacing: 0.8rem;
  font-weight: 200;
}
.hro--hdng * {
  transition: all 0.7s;
}
@media only screen and (min-width: 476px) {
  .hro--hdng {
    font-size: 4rem;
    color: var(--clr-prm-dr-1);
    animation: moveInRight20 2s ease-in-out;
  }
}
.hro--hdng * {
  transition: all 0.7s;
}
@media only screen and (min-width: 900px) {
  .hro--hdng {
    font-size: 7rem;
    color: #fff;
    animation: moveInRight20 2s ease-in-out;
  }
}
.hro--hdng * {
  transition: all 0.7s;
}
@media only screen and (min-width: 1100px) {
  .hro--hdng {
    font-size: 9rem;
    animation: moveInRight50 2s ease-in-out;
  }
}
.hro--btn {
  padding: 1rem 2rem;
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: inherit;
  text-transform: uppercase;
  margin-top: 2rem;
  cursor: pointer;
  animation: moveBtn 0.5s ease 2s;
  animation-fill-mode: backwards;
}
.hro--btn:hover {
  background-color: #a5c9c9;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  margin-top: 2rem;
  width: 100%;
  animation: moveBtn 0.5s ease-out 3s;
  animation-fill-mode: backwards;
}
.search__frm {
  display: flex;
  justify-content: center;
  width: 70%;
  position: relative;
}
.search__frm--ipt {
  width: 95%;
  font-family: inherit;
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border: none;
  margin-right: -3rem;
  margin-left: -3rem;
}
.search__frm--ipt:focus {
  width: 100%;
  outline: none;
  padding-top: 1.25rem;
}
.search__frm--icn {
  font-size: 2.5rem;
  position: absolute;
  color: var(--clr-prm-dr-1);
  top: 1rem;
  right: 3.5rem;
}
.search__frm--icn * {
  transition: all 0.7s;
}
@media only screen and (min-width: 476px) {
  .search__frm--icn {
    right: 2rem;
  }
}
.search__frm--icn * {
  transition: all 0.7s;
}
@media only screen and (min-width: 900px) {
  .search__frm--icn {
    right: 2.5rem;
  }
}
.search__frm--icn * {
  transition: all 0.7s;
}
@media only screen and (min-width: 1100px) {
  .search__frm--icn {
    right: 3.5rem;
  }
}

.nav__lgo {
  display: flex;
  flex: 0 0 10%;
  font-size: 2.5rem;
  position: relative;
  align-items: center;
  color: var(--clr-logo);
  flex: 1;
  height: 10rem;
}
.nav__lgo__lts {
  justify-content: flex-start;
}
.nav__lgo * {
  transition: all 0.7s;
}
@media screen and (max-width: 760px) {
  .nav__lgo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.nav__lgo .lgo-lt-1 {
  position: absolute;
  top: 2.7rem;
  left: 5.3rem;
}
.nav__lgo .lgo-lt-2 {
  position: absolute;
  top: 3.5rem;
  left: 6.3rem;
}
.nav__lgo .lgo-lt-3 {
  position: absolute;
  top: 4.3rem;
  left: 7.2rem;
}
.nav__mnu {
  flex: 0 0 60%;
}
.nav__mnu .lst {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav__mnu .lst--itm {
  height: 10rem;
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  font-size: 1.5rem;
  cursor: pointer;
}
.nav__mnu .lst--itm a {
  color: #000;
  text-decoration: none;
}
.nav__mnu .lst--itm:hover {
  background-color: var(--clr-prm-lgt-2);
}
.nav__mnu .lst--itm--arr {
  visibility: hidden;
}
.nav__mnu * {
  transition: all 0.7s;
}
@media screen and (max-width: 760px) {
  .nav__mnu {
    position: absolute;
    z-index: 1000;
    right: 0;
    left: -100%;
    width: 100%;
    top: 10rem;
  }
  .nav__mnu .lst {
    background-color: #fff;
    transition: all 0.4s ease;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .nav__mnu .lst--itm {
    padding: 1rem 2rem 1rem 1rem;
    width: 100%;
    justify-content: flex-start;
    flex: 1;
  }
  .nav__mnu .lst--itm--arr {
    width: 2rem;
    font-size: 2rem;
    font-weight: 100;
    padding-top: 0.3rem;
    display: flex;
    align-items: center;
    visibility: visible;
  }
}
.nav__usr {
  display: flex;
  justify-content: space-around;
}
.nav__usr * {
  transition: all 0.7s;
}
@media only screen and (min-width: 476px) {
  .nav__usr {
    flex: 0 0 20%;
  }
}
.nav__usr * {
  transition: all 0.7s;
}
@media only screen and (min-width: 1100px) {
  .nav__usr {
    flex: 0 0 10%;
  }
}
.nav__usr__icnBx {
  display: flex;
  position: relative;
  flex-grow: 1;
}
.nav__usr--ntf {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-prm-thm-1);
  color: #000;
  font-weight: bold;
  font-size: 1.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 100px;
  top: 5rem;
  right: 1rem;
}
.nav__usr--icn {
  height: 10rem;
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  font-size: 4rem;
  font-weight: 100;
  transition: all 0.3s ease;
  color: var(--clr-logo);
}
.nav__usr--icn:hover {
  background-color: var(--clr-prm-lgt-1);
}

.lstdd {
  position: absolute;
  top: 10rem;
  width: 100vw;
  right: 0;
  list-style-type: none;
  text-align: start;
  background-color: #fff;
  z-index: 1500;
}
.lstdd--itm {
  font-size: 1.5rem;
  height: 4rem;
  padding: 1rem 2rem 1rem 4rem;
  width: 100vw;
}
.lstdd--itm:hover {
  background-color: var(--clr-prm-lgt-1);
}
.lstdd--itm a {
  color: #000;
  text-decoration: none;
}

* {
  transition: all 0.7s;
}

@media screen and (max-width: 760px) {
  .lstdd {
    width: 50%;
    top: 0;
    left: 50%;
    background-color: red;
  }
  .lstdd--itm {
    padding: 1rem 2rem 1rem 1rem;
    transition: all 0.1s ease;
  }
  .lstdd--itm:hover {
    border-left: 5px solid var(--clr-prm-dr-1);
  }
}
* {
  transition: all 0.7s;
}

@media screen and (max-width: 760px) {
  .navIcn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 0 0 5%;
    flex: 1;
    padding-left: 2rem;
    height: 10rem;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .navIcn--btn {
    position: relative;
    display: flex;
  }
  .navIcn--btn, .navIcn--btn::before, .navIcn--btn::after {
    width: 2rem;
    height: 2px;
    background-color: var(--clr-logo);
    display: inline-block;
    transition: all 0.3s ease;
  }
  .navIcn--btn::before, .navIcn--btn::after {
    content: "";
    position: absolute;
    left: 0;
  }
  .navIcn--btn::before {
    top: -0.8rem;
  }
  .navIcn--btn::after {
    top: 0.8rem;
  }
  .clicked span {
    background-color: transparent;
  }
  .clicked ::before {
    top: 0;
    transform: rotate(45deg);
  }
  .clicked ::after {
    top: 0;
    transform: rotate(-45deg);
  }
}
.open {
  top: 10rem;
  left: 0;
}

.gft {
  flex-direction: column;
}
.gft--sld {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.gft--dts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 1rem 0;
}
.gft--dts--dt {
  padding: 1rem 0.25rem;
  font-size: 2rem;
  cursor: pointer;
  color: #3d6565;
}
.gft--dts--dt--active {
  padding: 1rem 0.25rem;
  font-size: 2rem;
  cursor: pointer;
  color: var(--clr-prm-dr-1);
}
.gft--swpr {
  display: block;
  width: 100%;
}
.gft--swpr--sld {
  display: flex;
  flex-direction: row;
}
.gft--swpr--sld * {
  transition: all 0.7s;
}
@media only screen and (min-width: 476px) {
  .gft--swpr--sld {
    width: 70%;
  }
}
.gft--swpr--sld * {
  transition: all 0.7s;
}
@media only screen and (min-width: 900px) {
  .gft--swpr--sld {
    width: 70%;
  }
}
.gft--swpr--sld * {
  transition: all 0.7s;
}
@media only screen and (min-width: 1100px) {
  .gft--swpr--sld {
    width: 100%;
  }
}

.arrow {
  cursor: pointer;
}

.sm-crd {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #fff;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 50rem;
  margin: 0 0.15rem;
  transition: all 0.3s ease;
}
.sm-crd * {
  transition: all 0.7s;
}
@media only screen and (min-width: 476px) {
  .sm-crd {
    width: 70%;
  }
}
.sm-crd * {
  transition: all 0.7s;
}
@media only screen and (min-width: 900px) {
  .sm-crd {
    width: 100%;
  }
}
.sm-crd * {
  transition: all 0.7s;
}
@media only screen and (min-width: 1100px) {
  .sm-crd {
    width: 100%;
  }
}
.sm-crd--btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sm-crd--btn--d {
  cursor: pointer;
  position: absolute;
  z-index: 1000;
  top: 40%;
  border: none;
  padding: 1rem 2rem;
  background-color: rgba(237, 141, 205, 0.8);
  border-radius: 4px;
  font-family: inherit;
  font-size: 1.5rem;
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 2px;
  transition: all 0.1s;
}
.sm-crd--btn--d:hover {
  z-index: 1500;
  background-color: var(--clr-prm-thm);
  transform: scale(1.1);
}
.sm-crd--img {
  display: flex;
  justify-content: center;
  position: relative;
  height: 70%;
  width: 100%;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}
.sm-crd--img::before {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}
.sm-crd--img:hover::before {
  opacity: 1;
}
.sm-crd--img:hover {
  z-index: 500;
}
.sm-crd--dtls {
  padding-top: 2rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #fff;
}
.sm-crd--dtls--h4 {
  font-size: 1.5rem;
  color: var(--clr-prm-thm);
  text-transform: capitalize;
  padding-bottom: 0.5rem;
  font-weight: bold;
}
.sm-crd--dtls--p {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
  width: 40rem;
}

.bst-sllr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 10rem 0;
  width: 100%;
}
.bst-sllr * {
  transition: all 0.7s;
}
@media only screen and (min-width: 476px) {
  .bst-sllr {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
  }
}
.bst-sllr * {
  transition: all 0.7s;
}
@media only screen and (min-width: 900px) {
  .bst-sllr {
    width: 100%;
    flex-direction: row;
  }
}
.bst-sllr * {
  transition: all 0.7s;
}
@media only screen and (min-width: 1100px) {
  .bst-sllr {
    width: 100%;
    flex-direction: row;
  }
}
.bst-sllr--cnt {
  display: flex;
  flex: 0 0 40%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1500;
}
.bst-sllr--cnt--hdngs {
  padding-right: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.bst-sllr--cnt--hdngs .bst-sllr-h2 {
  color: var(--clr-prm-thm-1);
}
.bst-sllr--clrcb {
  background-color: rgba(123, 175, 170, 0.3);
  border: 1px solid var(--clr-prm-thm-1);
  position: absolute;
  z-index: 1000;
  width: 70rem;
  height: 35rem;
}
.bst-sllr--clrcb * {
  transition: all 0.7s;
}
@media only screen and (min-width: 476px) {
  .bst-sllr--clrcb {
    display: none;
  }
}
.bst-sllr--clrcb * {
  transition: all 0.7s;
}
@media only screen and (min-width: 900px) {
  .bst-sllr--clrcb {
    display: block;
  }
}
.bst-sllr--img {
  position: relative;
  display: block;
  z-index: 1500;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.bst-sllr--img img * {
  transition: all 0.7s;
}
@media only screen and (min-width: 476px) {
  .bst-sllr--img img {
    width: 100%;
  }
}
.bst-sllr--img::before {
  content: "";
  position: absolute;
  display: block;
  background-color: rgba(245, 234, 119, 0.2);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.sale {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 3rem;
}
.sale--hdngs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sale--hdngs h2 {
  font-size: 2.5rem;
  border-bottom: 2px solid #ffb667;
  color: #ff9e34;
  margin-bottom: 1rem;
}
.sale--hdngs h3 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.sale--img {
  margin-bottom: 5rem;
  width: 30rem;
  height: 30rem;
}
.sale--img img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.sale--cnt {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 30rem;
}
.sale--btns {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 30rem;
}
.sale--lnk {
  text-decoration: none;
  color: inherit;
}

.ftr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 7rem 5rem;
}
.ftr * {
  transition: all 0.7s;
}
@media only screen and (min-width: 476px) {
  .ftr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.ftr * {
  transition: all 0.7s;
}
@media only screen and (min-width: 900px) {
  .ftr {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.ftr--lgo {
  margin-right: auto;
  border: 1px solid var(--clr-logo);
  position: relative;
  color: var(--clr-logo);
  font-size: 2.5rem;
}
.ftr--lgo * {
  transition: all 0.7s;
}
@media only screen and (min-width: 476px) {
  .ftr--lgo {
    margin: auto;
  }
}
.ftr--lgo--lts {
  justify-content: flex-start;
  padding: 5rem;
}
.ftr--lgo--lts:hover {
  text-shadow: 0 0 15px rgba(196, 161, 115, 0.9);
}
.ftr--lgo--lts .lgo-lt-1 {
  position: absolute;
  top: 2.7rem;
  left: 3.3rem;
}
.ftr--lgo--lts .lgo-lt-2 {
  position: absolute;
  top: 3.5rem;
  left: 4.3rem;
}
.ftr--lgo--lts .lgo-lt-3 {
  position: absolute;
  top: 4.3rem;
  left: 5.2rem;
}
.ftr--lgo:hover {
  box-shadow: 0 0 15px var(--clr-logo);
}
.ftr--cnt {
  flex: 0 0 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.ftr--cnt * {
  transition: all 0.7s;
}
@media only screen and (min-width: 476px) {
  .ftr--cnt {
    flex: 0 0 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
.ftr--cnt * {
  transition: all 0.7s;
}
@media only screen and (min-width: 900px) {
  .ftr--cnt {
    flex: 0 0 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
.ftr--cnt .cl {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.ftr--cnt .cl .ftr-lnks {
  display: none;
  flex-direction: column;
}
.ftr--cnt .cl .ftr-lnks * {
  transition: all 0.7s;
}
@media only screen and (min-width: 476px) {
  .ftr--cnt .cl .ftr-lnks {
    display: none;
  }
}
.ftr--cnt .cl .ftr-lnks * {
  transition: all 0.7s;
}
@media only screen and (min-width: 900px) {
  .ftr--cnt .cl .ftr-lnks {
    display: flex;
  }
}
.ftr--cnt .cl .lnks-open {
  display: flex;
}
.ftr--cnt .cl a {
  color: var(--clr-prm-lgt-2);
  text-decoration: none;
  font-size: 1.5rem;
  margin-top: 0;
}
.ftr--cnt .cl a:not(:last-child) {
  margin-bottom: 1rem;
}
.ftr--cnt .cl a:hover {
  text-shadow: 0 0 10px white;
}
.ftr--cnt .ftr-hdng2 {
  display: flex;
  color: var(--clr-prm-lgt-2);
  text-transform: capitalize;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--clr-prm-lgt-2);
}
.ftr--cnt .ftr-hdng2 * {
  transition: all 0.7s;
}
@media only screen and (min-width: 476px) {
  .ftr--cnt .ftr-hdng2 {
    cursor: pointer;
  }
}
.ftr--cnt .ftr-hdng2 * {
  transition: all 0.7s;
}
@media only screen and (min-width: 900px) {
  .ftr--cnt .ftr-hdng2 {
    cursor: auto;
  }
}
.ftr--cnt .ftr-hdng2--arr {
  display: block;
}
.ftr--cnt .ftr-hdng2--arr * {
  transition: all 0.7s;
}
@media only screen and (min-width: 476px) {
  .ftr--cnt .ftr-hdng2--arr {
    display: block;
  }
}
.ftr--cnt .ftr-hdng2--arr * {
  transition: all 0.7s;
}
@media only screen and (min-width: 900px) {
  .ftr--cnt .ftr-hdng2--arr {
    display: none;
  }
}
.ftr--cnt--cl3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.ftr--cnt--cl3 .icns {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}
.ftr--cnt--cl3 .icns--lnk--icn {
  font-size: 4rem;
}
.ftr--cnt .copyright {
  font-size: 1.5rem;
  color: var(--clr-prm-dr-1);
  border-bottom: 1px solid var(--clr-prm-dr-1);
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

.nav {
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: #fff;
}

.hdng {
  display: block;
}

.hdng-2 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  padding-top: 1.5rem;
  letter-spacing: 5px;
  font-weight: 400;
  color: var(--clr-prm-dr-1);
  text-align: center;
}

.hdng-3 {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  padding-bottom: 1.5rem;
}
.hdng-3 * {
  transition: all 0.7s;
}
@media only screen and (min-width: 476px) {
  .hdng-3 {
    font-size: 1.5rem;
  }
}

.allp-h2 {
  border-bottom: 3px solid var(--clr-prm-thm-1);
}

.sle {
  background-color: var(--clr-prm-thm-2);
  width: 100%;
}

.sctn {
  position: relative;
  display: flex;
  width: 100%;
  height: 90%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sctn-bst-sllr {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(123, 175, 170, 0.9), rgba(237, 141, 205, 0.9));
}

.sctn-sale {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--clr-prm-thm-2);
}

.sctn-footer {
  width: 100%;
  height: 100%;
  background-color: #335555;
}

.gft {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
  margin: 2rem auto;
}

.prs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #faf5be;
  justify-content: space-around;
  min-height: 100vh;
}
.prs * {
  transition: all 0.7s;
}
@media only screen and (min-width: 1100px) {
  .prs {
    justify-content: center;
  }
}

.pr {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 2rem 0.25rem;
  background-color: #fff;
  width: 70%;
}
.pr * {
  transition: all 0.7s;
}
@media only screen and (min-width: 476px) {
  .pr {
    flex: 0 0 70%;
  }
}
.pr * {
  transition: all 0.7s;
}
@media only screen and (min-width: 900px) {
  .pr {
    flex: 0 0 30%;
  }
}
.pr * {
  transition: all 0.7s;
}
@media only screen and (min-width: 1100px) {
  .pr {
    flex: 0 0 20%;
  }
}
.pr--dtls {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem 2rem;
  width: 80%;
}
.pr--dtls--h3 {
  font-size: 2rem;
}
.pr--dtls--p {
  width: 70%;
  text-align: center;
  margin: 1rem 2rem;
  font-size: 1.5rem;
}
.pr--qckBtn {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
  position: absolute;
  z-index: 2500;
  border: none;
  padding: 1rem 2rem;
  background-color: rgba(119, 119, 119, 0.5);
  top: 60%;
  border-radius: 4px;
  font-family: inherit;
  font-size: 1.5rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.1s;
}
.pr--qckBtn:hover {
  opacity: 1;
  z-index: 3000;
  background-color: rgba(119, 119, 119, 0.8);
}
.pr--qckBtn:active {
  transform: scale(0.98);
}
.pr--imgCn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  position: relative;
  z-index: 2600;
}
.pr--imgCn:hover {
  z-index: 0;
}
.pr--imgCn::before {
  content: "";
  position: absolute;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}
.pr--imgCn:hover::before {
  z-index: 3000;
  opacity: 1;
}
.pr--imgCn--lnk {
  text-align: center;
}
.pr--imgCn--img {
  width: 80%;
  cursor: pointer;
  position: relative;
  z-index: 2600;
}
.pr--imgCn--img:hover {
  z-index: 0;
}
.pr--btn {
  width: 70%;
  padding: 2rem;
  background-color: #faf5be;
  border: none;
  border-radius: 5px;
  color: var(--clr-prm);
  font-weight: bold;
}
.pr--btn:hover {
  border: none;
  background-color: var(--clr-prm-thm-1);
  color: var(--clr-prm);
}

.dtl {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 60vh;
  background-image: linear-gradient(to right, rgba(187, 213, 211, 0.5), rgba(255, 255, 255, 0.9) 50%);
}
.dtl * {
  transition: all 0.7s;
}
@media only screen and (min-width: 476px) {
  .dtl {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, rgba(187, 213, 211, 0.5), rgba(255, 255, 255, 0.9) 50%);
    height: 100%;
  }
}
.dtl * {
  transition: all 0.7s;
}
@media only screen and (min-width: 900px) {
  .dtl {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to right, rgba(187, 213, 211, 0.5), rgba(255, 255, 255, 0.9) 50%);
  }
}
.dtl__img {
  display: block;
  position: relative;
  justify-content: center;
  flex: 0 0 50%;
  height: 100%;
}
.dtl__cnt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: auto;
  margin-top: 2rem;
  flex: 0 0 50%;
}
.dtl__cnt--h2 {
  font-size: 3rem;
  text-decoration: underline;
  text-transform: capitalize;
  padding-bottom: 1.5rem;
}
.dtl__cnt--h3 {
  font-size: 1.5rem;
  text-transform: capitalize;
  padding-bottom: 1.5rem;
}
.dtl__cnt--h3--sp {
  font-size: 2rem;
}
.dtl__cnt--prc {
  text-decoration: none;
  font-size: 1.5rem;
}
.dtl__cnt--prc-crossed {
  text-decoration: line-through;
  color: #777;
  font-size: 1.5rem;
}
.dtl__cnt--prc-show {
  margin-left: 2rem;
  font-size: 1.5rem;
  visibility: visible;
}
.dtl__cnt--prc-notShow {
  margin-left: 2rem;
  font-size: 1.5rem;
  visibility: hidden;
}
.dtl__cnt--qInfo, .dtl__cnt--info {
  width: 50rem;
  font-size: 1.5rem;
}
.dtl__cnt--rm {
  text-decoration: underline;
  cursor: pointer;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.dtl__cnt--btns {
  display: flex;
  flex-direction: column;
}
.dtl__cnt--btns--qts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 2rem;
  border: 1px solid #c4c4c4;
  margin-bottom: 2rem;
}
.dtl__cnt--btns--qts--btn {
  cursor: pointer;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 0.5rem 2rem;
  font-size: 3rem;
}
.dtl__cnt--btns--qts--btn:hover {
  background-color: #dddddd;
}
.dtl__cnt--btns--qts--n {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 0.5rem 2rem;
}
.dtl__cnt--btns--add {
  width: 100%;
  font-weight: bold;
  padding: 1rem 2rem;
  font-size: 1.5rem;
}

/*# sourceMappingURL=style.css.map */
