@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
:root {
  --clr-prm: #7bafaa;
  --clr-prm-lgt-1: #ecf2e7;
  --clr-prm-lgt-2: #e4efe1;
  --clr-prm-dr-1: #65a3a2;
  --clr-logo: #c4a173;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

*,
::after,
::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: linear-gradient(to left, var(--clr-prm-lgt-1), var(--clr-prm-lgt-2));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

@keyframes moveInRight50 {
  0% {
    opacity: 0;
    transform: translateX(50rem);
    letter-spacing: -2rem;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight20 {
  0% {
    opacity: 0;
    transform: translateX(20rem);
    letter-spacing: -2rem;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveBtn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.hro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 60vh;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
}
.hro * {
  transition: all 0.7s;
}
@media only screen and (min-width: 476px) {
  .hro {
    background-image: linear-gradient(rgba(202, 225, 215, 0.9), rgba(202, 225, 215, 0.9));
  }
}
.hro * {
  transition: all 0.7s;
}
@media only screen and (min-width: 900px) {
  .hro {
    background-image: linear-gradient(rgba(101, 163, 162, 0.5), rgba(101, 163, 162, 0.5)), url("../../assets/jpg/hero.jpg");
  }
}
.hro--hdng {
  text-transform: uppercase;
  letter-spacing: 0.8rem;
  font-weight: 200;
}
.hro--hdng * {
  transition: all 0.7s;
}
@media only screen and (min-width: 476px) {
  .hro--hdng {
    font-size: 4rem;
    color: var(--clr-prm-dr-1);
    animation: moveInRight20 2s ease-in-out;
  }
}
.hro--hdng * {
  transition: all 0.7s;
}
@media only screen and (min-width: 900px) {
  .hro--hdng {
    font-size: 7rem;
    color: #fff;
    animation: moveInRight20 2s ease-in-out;
  }
}
.hro--hdng * {
  transition: all 0.7s;
}
@media only screen and (min-width: 1100px) {
  .hro--hdng {
    font-size: 9rem;
    animation: moveInRight50 2s ease-in-out;
  }
}
.hro--btn {
  padding: 1rem 2rem;
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  font-size: 1.5rem;
  font-family: inherit;
  text-transform: uppercase;
  margin-top: 2rem;
  cursor: pointer;
  animation: moveBtn 0.5s ease 2s;
  animation-fill-mode: backwards;
}
.hro--btn:hover {
  background-color: #a5c9c9;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  margin-top: 2rem;
  width: 100%;
  animation: moveBtn 0.5s ease-out 3s;
  animation-fill-mode: backwards;
}
.search__frm {
  display: flex;
  justify-content: center;
  width: 70%;
  position: relative;
}
.search__frm--ipt {
  width: 95%;
  font-family: inherit;
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border: none;
  margin-right: -3rem;
  margin-left: -3rem;
}
.search__frm--ipt:focus {
  width: 100%;
  outline: none;
  padding-top: 1.25rem;
}
.search__frm--icn {
  font-size: 2.5rem;
  position: absolute;
  color: var(--clr-prm-dr-1);
  top: 1rem;
  right: 3.5rem;
}
.search__frm--icn * {
  transition: all 0.7s;
}
@media only screen and (min-width: 476px) {
  .search__frm--icn {
    right: 2rem;
  }
}
.search__frm--icn * {
  transition: all 0.7s;
}
@media only screen and (min-width: 900px) {
  .search__frm--icn {
    right: 2.5rem;
  }
}
.search__frm--icn * {
  transition: all 0.7s;
}
@media only screen and (min-width: 1100px) {
  .search__frm--icn {
    right: 3.5rem;
  }
}

.nav__lgo {
  display: flex;
  flex: 0 0 10%;
  font-size: 2.5rem;
  position: relative;
  align-items: center;
  color: var(--clr-logo);
  flex: 1;
  height: 10rem;
}
.nav__lgo__lts {
  justify-content: flex-start;
}
.nav__lgo * {
  transition: all 0.7s;
}
@media screen and (max-width: 760px) {
  .nav__lgo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.nav__lgo .lgo-lt-1 {
  position: absolute;
  top: 2.7rem;
  left: 5.3rem;
}
.nav__lgo .lgo-lt-2 {
  position: absolute;
  top: 3.5rem;
  left: 6.3rem;
}
.nav__lgo .lgo-lt-3 {
  position: absolute;
  top: 4.3rem;
  left: 7.2rem;
}
.nav__mnu {
  flex: 0 0 60%;
}
.nav__mnu .lst {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav__mnu .lst--itm {
  height: 10rem;
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  font-size: 1.5rem;
  cursor: pointer;
}
.nav__mnu .lst--itm a {
  color: #000;
  text-decoration: none;
}
.nav__mnu .lst--itm:hover {
  background-color: var(--clr-prm-lgt-2);
}
.nav__mnu .lst--itm--arr {
  visibility: hidden;
}
.nav__mnu * {
  transition: all 0.7s;
}
@media screen and (max-width: 760px) {
  .nav__mnu {
    position: absolute;
    z-index: 1000;
    right: 0;
    left: -100%;
    width: 100%;
    top: 10rem;
  }
  .nav__mnu .lst {
    background-color: #fff;
    transition: all 0.4s ease;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .nav__mnu .lst--itm {
    padding: 1rem 2rem 1rem 1rem;
    width: 100%;
    justify-content: flex-start;
    flex: 1;
  }
  .nav__mnu .lst--itm--arr {
    width: 2rem;
    font-size: 2rem;
    font-weight: 100;
    padding-top: 0.3rem;
    display: flex;
    align-items: center;
    visibility: visible;
  }
}
.nav__usr {
  display: flex;
  justify-content: space-around;
}
.nav__usr * {
  transition: all 0.7s;
}
@media only screen and (min-width: 476px) {
  .nav__usr {
    flex: 0 0 20%;
  }
}
.nav__usr * {
  transition: all 0.7s;
}
@media only screen and (min-width: 1100px) {
  .nav__usr {
    flex: 0 0 10%;
  }
}
.nav__usr--icn {
  height: 10rem;
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  font-size: 2.5rem;
  transition: all 0.3s ease;
  color: var(--clr-logo);
}
.nav__usr--icn:hover {
  background-color: var(--clr-prm-lgt-1);
}

.lstdd {
  position: absolute;
  top: 10rem;
  width: 100vw;
  right: 0;
  list-style-type: none;
  text-align: start;
  background-color: #fff;
}
.lstdd--itm {
  font-size: 1.5rem;
  height: 4rem;
  padding: 1rem 2rem 1rem 1rem;
  width: 100%;
}
.lstdd--itm:hover {
  background-color: var(--clr-prm-lgt-1);
}
.lstdd--itm a {
  color: #000;
  text-decoration: none;
}

* {
  transition: all 0.7s;
}

@media screen and (max-width: 760px) {
  .lstdd {
    width: 50%;
    top: 0;
    left: 50%;
  }
  .lstdd--itm {
    padding: 1rem 2rem 1rem 1rem;
    transition: all 0.1s ease;
  }
  .lstdd--itm:hover {
    border-left: 5px solid var(--clr-prm-dr-1);
  }
}
* {
  transition: all 0.7s;
}

@media screen and (max-width: 760px) {
  .navIcn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 0 0 5%;
    flex: 1;
    padding-left: 2rem;
    height: 10rem;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .navIcn--btn {
    position: relative;
    display: flex;
  }
  .navIcn--btn, .navIcn--btn::before, .navIcn--btn::after {
    width: 2rem;
    height: 2px;
    background-color: var(--clr-logo);
    display: inline-block;
    transition: all 0.3s ease;
  }
  .navIcn--btn::before, .navIcn--btn::after {
    content: "";
    position: absolute;
    left: 0;
  }
  .navIcn--btn::before {
    top: -0.8rem;
  }
  .navIcn--btn::after {
    top: 0.8rem;
  }
  .clicked span {
    background-color: transparent;
  }
  .clicked ::before {
    top: 0;
    transform: rotate(45deg);
  }
  .clicked ::after {
    top: 0;
    transform: rotate(-45deg);
  }
}
.open {
  top: 10rem;
  left: 0;
}

.hdng-2 {
  font-size: 3rem;
  text-transform: capitalize;
  padding-bottom: 1.5rem;
  text-align: center;
}

.hdng-3 {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 1.5rem;
}
.hdng-3 * {
  transition: all 0.7s;
}
@media only screen and (min-width: 476px) {
  .hdng-3 {
    font-size: 1.5rem;
  }
}

.sm-crd {
  display: flex;
  align-items: center;
  background-color: #fff;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 60%;
  margin: 0 0.15rem;
}
.sm-crd--img {
  width: 100%;
  height: 100%;
}
.sm-crd--img img {
  width: 100%;
  height: 80%;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

.nav {
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: #fff;
}

.sctn-prds {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 5rem;
  margin: 2rem auto;
}

.sld {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

/*# sourceMappingURL=style.css.map */
